[submodule "kexts/WhateverGreen"]
	path = kexts/WhateverGreen
	url = https://github.com/acidanthera/WhateverGreen.git
[submodule "kexts/Lilu"]
	path = kexts/Lilu
	url = https://github.com/acidanthera/Lilu.git
[submodule "kexts/IntelMausiEthernet"]
	path = kexts/IntelMausiEthernet
	url = https://github.com/Mieze/IntelMausiEthernet.git
[submodule "kexts/AppleALC"]
	path = kexts/AppleALC
	url = https://github.com/acidanthera/AppleALC.git
